<div class="left_side">
  <%= image_tag "default_user.png", alt: "Default User Image", height: '100px' %>
  <p>@<%= @user.username %></p>
  <p><%= @user.full_name %></p>
  <p><%= @user.location %></p>
  <p><%= @user.bio %></p>
  
</div>

<div class="right_side">
  
  <% @user.tweets.each do |tweet| %>
    <div class="tweet">
      <p><%= tweet.message %></p>
      <p>created: <%= time_ago_in_words(tweet.created_at) %> ago</p>
    </div>
  <% end %>
  
</div>