<div class="left_side">
  <%= image_tag "default_user.png", alt: "Default User Image", height: '100px' %>
  <p>@<%= @user.username %></p>
  <p><%= @user.full_name %></p>
  <p><%= @user.location %></p>
  <p><%= @user.bio %></p>

  <% unless @user.id == current_user.id  %>
    <% if current_user.following.include?(@user.id.to_s) %>
      <p><%= link_to "Unfollow", unfollow_user_path(@user.id) %></p>
    <% else %>
      <p><%= link_to "Follow", follow_user_path(@user.id) %></p>
    <% end %>
  <% end %>
</div>

<div class="right_side">
  
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <p>@<%= tweet.user.username %></p>
      <p><%= tweet.message %></p>
      <p class="tweet-date">created: <%= time_ago_in_words(tweet.created_at) %> ago</p>
    </div>
  <% end %>
  
</div>








